@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Arimo|Muli');
/*
font-family: 'Dosis', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Arimo', sans-serif;
font-family: 'Muli', sans-serif;
*/
/*main page css*/
body {
        margin: 0;
        padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif', serif;
    font-size: 60px;
}
p, a, address, li, label{
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}
header{
    background-color: #8A8D9D;
    color: #ffffff;
}
footer{
    background-color: #8A8D9D;
    color: #ffffff;
    padding: 10px;
}
#container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: -30px;
}
nav{
    margin-top: 15px;
}
#menu{
    display: none;
    justify-content: flex-start;
    align-content: center;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
}
#toggle:checked ~ #menu{
    display: flex;
    justify-content: center;
}

#homework-menu li, #homework-menu a:link, #homework-menu a:visited{
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-right: 20px;
}
#homework-menu a:hover{
    transition: .5s;
    background-color: #466362;
    padding: 10px;
}
#menu li {
    display: inline-block;
    margin-right: 20px;
}
#menu a:link, #menu a:visited {
    text-decoration: none;
    color: #ffffff;
}
#menu a:hover{
    transition: .5s;
    background-color: #466362;
    padding: 10px;
}
label{
    width: 100%;
    text-align: center;
    margin-left: 45.5%;
}
input{
    display: none;
}
.image{
    width: 100%;
}
#top-ten{
    background-color: #223B5D;
    color: #ffffff;
}
#top-ten div{
    padding: 10px;
}
#ten-list{
    list-style: none;
    margin-bottom: 10px;
    margin-top: -40px;

}
#ten-list li{
    margin-bottom: 5px;
}
#map h1{
    padding: 10px;
    margin-top: 2px;
}
#history{
    background-color: #466362;
    color: #ffffff;
}
#history div{
    padding: 10px;
    line-height: 35px;
}
#video{
    width: 100%;
}
#video p{
    font-size: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000;
}
.container2 { position:relative; }
.container2 video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    bottom:10px;
    left:10px;
    z-index:1;
}

@media only screen and (min-width:700px){
    .image{
        width: 100%;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #main-logo{
        margin-right: 20%;
        padding-bottom: 20px;
        flex-grow: 2;
    }

    label{
        display: none;
    }
    #toggle:not(:checked) ~ #menu{
        display: inline-flex;
    }
    #container{
        margin-bottom: -30px;
        margin-left: 30px;
    }

}
/*content page css*/
#unique-food{
    background-color: #466362;
    padding: 10px;
}
#unique-food h1{
    color: #ffffff;
}
.sub-content{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin-bottom: 30px;
    height: 200px;
    background-color: #ffffff;
}
.sub-content h1, h2{
    font-size: 40px;
    flex-wrap: wrap;
    flex-grow: 3;
    margin-left: 20px;
    margin-right: 10px;
}
.sub-content address{
    font-size: 16px;
    flex-grow: 0;
    flex-wrap: nowrap;
    width: 250px;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 5px;
}
.sub-content p{
    font-size: 16px;;
    flex-grow: 1;
    line-height: 30px;
    max-width: 700px;
}
#address-div{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}

#bus-address{
    margin-top: -30px;
    margin-bottom: 5px;
}
#rest-address{
    margin-top: 5px;
}
#el-rancho{
    margin-top: 10px;
}
.sub-image{
    width: 200px;
    height: 200px;
}

