/*api key access: e45cfef1ebf0e5ba*/
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Playfair+Display');

* {
    box-sizing: border-box;
    background-color: #444444;
}
ul, ol, label  {
    margin: 0;
    padding: 0;
}
header{
    text-align: left;
}
header nav{
    text-align: right;
    font-size: 20px;

}
header h1{
    margin-left: 20px;
}

label{
    background-color: #79BBEC;
    text-align: center;
    color: white;
    display: block;
    padding: 2px;
}
input{
    display: none;
}

#menu{
    display: none;
}
#menu a{
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#menu a:hover{
    background-color: #79BBEC;
}

#toggle:checked ~ #menu{
    display: block;
}
#menuimg{
    background: transparent;
    width: 60px;
    padding: 10px;
}
#searchimg{
    background: transparent;
}
body {
    margin: 2%;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#summary{
    background-image: url(images/sunny.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 125px;
    max-width: 800px;
}
#summary2{
    background-image: url(images/rainy.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 125px;
    max-width: 800px;
}
#summary3{
    background-image: url(images/cloudy.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 125px;
    max-width: 800px;
}
#sumcontent, #sumcontent ul{
    background: transparent;
    list-style: none;
    min-width: 300px;
    align-content: center;
}
#sumcontent p, #sumcontent{
    background: transparent;
}

.location {
    background: transparent;
    text-align: center;
    width: 100%;
    font-size: 40px;
    text-shadow: 1px 1px 5px #000000;
}
#temp {
    background: transparent;
    font-size: 6em;
    width: 100%;
    margin-top: -90px;
    text-align: center;
    text-shadow: 1px 1px 5px #000000;
}
#low {
    background: transparent;
    font-size: 20px;
    width: 40%;
    margin-top: -90px;
    text-shadow: 1px 1px 5px #000000;
}
#high {
    background: transparent;
    font-size: 20px;
    width: 40%;
    margin-top: -65px;
    margin-left: 60%;
    text-shadow: 1px 1px 5px #000000;
}

#hourly {
    display: none;
    margin-top: 20px;
}
#hourly table {
    width: 100%;
    max-width: 768px;
    border: 1px solid #ffffff;
    text-align: center;
    border-spacing: 2px 10px;
}
#hourly td {
    margin-bottom: 5px;
    border-right: 1px solid #ffffff;
    padding: 4px;
}
#hourly td:last-child{
    border-right: 0;
}
#detail {
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#detail h2,
#detail p {
    background: transparent;
    text-align: center;
    font-size: 2em;
}
#container{
    display: flex;
    background: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#share{
    width: 100%;
    background: transparent;

}
#copyright{
    background: transparent;
    margin-top: 0px;
    margin-left:75%;
}
.social{
    background: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #000000;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer div>a,
footer img {
    background: transparent;
    width: 50px;
}
footer h2{
    background: transparent;
    text-align: center;
    padding: 10px;
}
footer ul {
    margin-left: 10px;
    display: inline;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

#copyright {
    text-align: left;
    width: 120px;
    padding-bottom: 2px;
    font-size: 10px;
}

footer h2 {
    font-size: 18px;
    text-align: center;
}
#wireframe1{
    display: inherit;
}
#wireframe2{
    display: none;
}
#wireframe3{
    display: none;
}

@media only screen and (min-width:320px){

    nav label, #toggle{
        display: none;
    }
    #toggle:not(:checked) ~ #menu{
        display: block;
    }
    #menu{
        background-color: #000000;
    }

    #menu li {
        display: inline-block;
    }
    #summary{
            background-image: url(images/sunny.jpg);
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 125px;
            max-width: 800px;
        }
    #summary2{
        background-image: url(images/rainy.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 125px;
        max-width: 1225px;
    }
        #sumcontent, #sumcontent ul{
            background: transparent;
            list-style: none;
            min-width: 300px;
            align-content: center;
        }

        #location {
            background: transparent;
            text-align: center;
            width: 100%;
            font-size: 40px;
            text-shadow: 1px 1px 5px #000000;
        }
        #temp {
            background: transparent;
            font-size: 6em;
            width: 100%;
            text-align: center;
            text-shadow: 1px 1px 5px #000000;
        }
        #low {
            background: transparent;
            font-size: 20px;
            width: 20%;
            margin-left: 25%;
            text-shadow: 1px 1px 5px #000000;
        }
        #high {
            background: transparent;
            font-size: 20px;
            width: 40%;
            text-shadow: 1px 1px 5px #000000;
        }
    #hourly{
        display: inherit;
    }
    #wireframe1{
        display: none;
    }
    #wireframe2{
        width: 500px;
    }
    #wireframe3{
        display: none;
        width: 700px;
    }

}

@media only screen and (min-width: 1225px){
    nav label, #toggle{
        display: none;
    }
    #toggle:not(:checked) ~ #menu{
        display: block;
    }

    #menu li {
        display: inline-block;
    }
    #contain{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #hourly{
        width: 47%;
        padding: 10px;
        margin-left: 53%;
        margin-bottom: 450px;
    }
    #detail{
        width: 47%;
        margin-top: -400px;
        margin-left: 53%;
    }
    #summary{
        background-image:url(images/sunny.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 125px;
        width: 100%;
        max-width: 800px;
    }
    #summary2{
        background-image: url(images/rainy.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 125px;
        max-width: 800px;
    }
    #sumcontent, #sumcontent ul{
        background: transparent;
        list-style: none;
        min-width: 300px;
        align-content: center;
    }

    #location {
        background: transparent;
        text-align: center;
        width: 100%;
        font-size: 40px;
        text-shadow: 1px 1px 5px #000000;
    }
    #temp {
        background: transparent;
        font-size: 6em;
        width: 100%;
        text-align: center;
        text-shadow: 1px 1px 5px #000000;
    }
    #low {
        background: transparent;
        font-size: 20px;
        width: 40%;
        text-shadow: 1px 1px 5px #000000;
    }
    #high {
        background: transparent;
        font-size: 20px;
        width: 40%;
        text-shadow: 1px 1px 5px #000000;
    }
    #container{
        display: flex;
        background: transparent;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #share{
        width: 100%;
        background: transparent;

    }
    #copyright{
        background: transparent;
        margin-top: 0px;
        margin-left:75%;
    }
    .social{
        background: transparent;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    footer {
        background-color: #000000;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    footer div>a,
    footer img {
        background: transparent;
        width: 50px;
    }
    footer h2{
        background: transparent;
        text-align: center;
        padding: 10px;
    }
    footer ul {
        margin-left: 10px;
        display: inline;
    }

    footer li {
        display: inline-block;
        margin-right: 15px;
    }

    #copyright {
        text-align: left;
        width: 120px;
        padding-bottom: 2px;
        font-size: 10px;
    }

    footer h2 {
        font-size: 18px;
        text-align: center;
    }

    #wireframe2{
        display: none;
    }
    #wireframe3{
        display:block;
        position: relative;
    }

}

/* steven helped in usability assessment/*

