@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Playfair+Display');
* {
    box-sizing: border-box;
    background-color: #444444;
}
ul, ol, label  {
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

label{
    background-color: #7E1516;
    text-align: center;
    color: white;
    display: block;
    padding: 2px;

}
input{
    display: none;
}

#menu{
    display: none;
}
#menu a{
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#menu a:hover{
    background-color: #7E1516;
}

#toggle:checked ~ #menu{
    display: block;
}
#menuimg{
    background: transparent;
    width: 60px;
    padding: 10px;
}
#searchimg{
    background: transparent;
}
body {
    margin: 2%;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.weatherimg {
    width: 100%;
    max-width: 768px;
    min-width: 5px;
    position: relative;
    z-index: 1;
}
#location {
    background: transparent;
    display: inline-block;
    top: 25%;
    left: 35%;
    text-align: center;
    z-index: 2;
}
#temp {
    display: inline-block;
    background: transparent;
    z-index: 2;
    top: 35%;
    left: 37%;
    font-size: 50px;
    padding: 5px;
}
#low {
    display: inline-block;
    background: transparent;
    font-size: 20px;
    top: 50%;
    left: 70%;
    z-index: 2;
    padding: 5px;
}
#high {
    display: inline-block;
    background: transparent;
    z-index: 2;
    font-size: 20px;
    top: 50%;
    left: 20%;
    padding: 5px;
}
.ginfo{
    position: absolute;
    top:25%;
    max-width: 768px;
}

#hourly {
    margin-top: 20px;
}
#hourly table {
    width: 100%;
    max-width: 768px;
    border: 1px solid #ffffff;
    text-align: center;
    border-spacing: 2px 10px;
}
#hourly td {
    margin-bottom: 5px;
    border-right: 1px solid #ffffff;
    padding: 4px;
}
#hourly td:last-child{
    border-right: 0;
}
#detail {
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 5px;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#detail h2,
p {
    background: transparent;
    text-align: center;
}

footer {
    background-color: #000000;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer ul,
footer li,
footer img {
    background: transparent;
    width: 50px;

}
footer h2{
    background: transparent;
    text-align: center;
    padding: 10px;
}
footer ul {
    margin-left: 10px;
    display: inline;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

#copyright {
    text-align: left;
    width: 120px;
    padding-bottom: 2px;
    font-size: 10px;
}

footer h2 {
    font-size: 18px;
    text-align: center;
}
@media only screen and (min-width:0px){

    nav label, #toggle{
        display: none;
    }
    #toggle:not(:checked) ~ #menu{
        display: block;
    }
    #menu{
        background-color: #000000;
    }

    #menu li {
        display: inline-block;
    }
    .weatherimg {
        width: 100%;
        max-width: 1768px;
        min-width: 5px;
        position: relative;
        z-index: 1;
    }
    #location {
        background: transparent;
        display: inline-block;
        text-align: center;
        z-index: 2;
    }
    #temp {
        display: inline-block;
        background: transparent;
        z-index: 2;
        top: 35%;
        left: 37%;
        font-size: 50px;
        padding: 5px;
    }
    #low {
        display: inline-block;
        background: transparent;
        font-size: 20px;
        top: 45%;
        left: 54%;
        z-index: 2;
        padding: 5px;
    }
    #high {
        display: inline-block;
        background: transparent;
        z-index: 2;
        font-size: 20px;
        top: 45%;
        left: 30%;
        padding: 5px;
    }
    .ginfo{
        position: absolute;
        top:25%;
        max-width: 320px;
    }
    #wireframe1{
        display: none;
    }
    #wireframe2{
        width: 500px;
    }
    #wireframe3{
        display: none;
        width: 700px;
    }

}

@media only screen and (min-width: 1225px){
    nav label, #toggle{
        display: none;
    }
    #toggle:not(:checked) ~ #menu{
        display: block;
    }

    #menu li {
        display: inline-block;
    }
    .weatherimg {
        width: 100%;
        max-width: 768px;
        min-width: 5px;
        position: relative;
        z-index: 1;
    }
    #location {
        background: transparent;
        display: inline-block;
        top: 35%;
        left: 25%;
        text-align: center;
        z-index: 2;
    }
    #temp {
        display: inline-block;
        background: transparent;
        z-index: 2;
        top: 45%;
        left: 27%;
        font-size: 50px;
        padding: 5px;
    }
    #low {
        display: inline-block;
        background: transparent;
        font-size: 20px;
        top: 60%;
        left: 22%;
        z-index: 2;
        padding: 5px;
    }
    #high {
        display: inline-block;
        background: transparent;
        z-index: 2;
        font-size: 20px;
        top: 60%;
        left: 37%;
        padding: 5px;
    }
    .ginfo{
        position: absolute;
        top:25%;
        max-width: 768px;
    }
    #detail {
        position: relative;
        width: 465px;
        background-color: #FFFFFF;
        top: -430px;
        right: -765px;
        color: #000000;
        padding: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #detail h2,
    p {
        background: transparent;
        text-align: center;
    }
    #hourly {
        margin-top: 20px;
        position: relative;
        top: -470px;
        right: -765px;
        margin-left: 10px;
    }
    #hourly table {
        width: 100%;
        max-width: 455px;
        border: 1px solid #ffffff;
        text-align: center;
        border-spacing: 2px 10px;
    }
    #hourly td {
        margin-bottom: 5px;
        border-right: 1px solid #ffffff;
        padding: 4px;
    }
    #hourly td:last-child{
        border-right: 0;
    }
    footer{
        position:relative;
        top:-450px;
    }
    #wireframe2{
        display: none;
    }
    #wireframe3{
        display: inherit;
        position: relative;
        top: -450px;
    }

}



